
<html>
        <body>
              <div class="wrapper">
                  <!-- Sidebar Holder -->
                  <nav id="sidebar">
                      <div class="sidebar-header">
                          <h3>NewsSearch Application</h3>
                      </div>
      
                      <ul class="list-unstyled components">
                          <p>Menu</p>
                          <li class="active">
                              <a>Home</a> 
                          </li>
                          <li>
                              <a routerLink="/searcharticle" >Search News</a></li>
                             <li><a  routerLink="/searchhistory"  >Search History</a>
                          </li>
                          <li>
                              <a>My Favourites</a>
                          </li>
                          <li>
                              <a>My Profile</a>
                          </li>
                          <li>
                            <a>Logout</a>
                            </li>
                            
                      </ul>
                  </nav>
      
                  <!-- Page Content Holder -->
                  <div id="content">
      
                      <nav class="navbar navbar-default">
                          <div class="container-fluid">
      
                              <div class="navbar-header">
                                  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                      <i class="glyphicon glyphicon-align-left"></i>
                                      <span>Toggle Sidebar</span>
                                  </button>
                              </div>
                              
                          </div>
                      </nav>
      
                      <!-- <h2>Collapsible Sidebar Using Bootstrap 3</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      
                      <div class="line"></div>
      
                      <h2>Lorem Ipsum Dolor</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      
                      <div class="line"></div>
      
                      <h2>Lorem Ipsum Dolor</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      
                      <div class="line"></div>
      
                      <h3>Lorem Ipsum Dolor</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                      <div class="content">
                          <router-outlet></router-outlet>
                        </div>
                  </div>
              </div>
              
          </body>
      </html>
      

