<div class="row justify-content-center mt-5">
  <div class="card " style="width:35rem; align:center">
    <div class="card-header" style="text-align:center;">
      <strong>Login Here</strong>
    </div>
    <div class="container" style="max-width:500px;">
      <form class="need-validation p-2" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
        <div class="" *ngIf="form.errors">
          {{errorMessage}}
        </div>
          <div class="form-group">
            <label for="username">User name</label>
            <input type="text" class="form-control" id="userName" formControlName="userName"
              placeholder="Enter User Name"
              [ngClass]="{'is-invalid':form.get('userName').touched && form.get('userName').invalid,'is-valid':form.get('userName').touched && form.get('userName').valid}">
            <div class="valid-feedback">
              Looks Good!
            </div>
            <div class="invalid-feedback">
              <div>User Name is required with size of 1 to 50 charecters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" formControlName="password"
              placeholder="Enter Password"
              [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid,'is-valid':form.get('password').touched && form.get('password').valid}">
            <div class="valid-feedback">
              Looks Good!
            </div>
            <div class="invalid-feedback">
              <div>Password is required with size of 8 to 50 charecters</div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" id="loginBtn"[disabled]="!form.valid">Login</button>
          </div>
          <div class="form-group">
            <a href="">Don't have an Account?</a>
          </div>
      </form>
    </div>
  </div>
</div>